.media-plyr-component {
  @main-color: @primary-color;
  @secondary-color: @quaternary-color;
  @play-large-bg: darken(@main-color, 10%);
  @tab-focus-color: rgba(0,0,0,0.5);

  .sr-helper {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: 0 !important;
    height: 1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

  .plyr__badge {
    background: @secondary-color;
    color: #fff;
  }
  .plyr__captions {
    color: #fff;
  }
  .plyr__menu__container {
    color: @secondary-color;
  }
  .plyr__menu__container .plyr__control {
    color: @secondary-color;
  }

  .plyr__menu__container .plyr__control--forward::after {
    border-left-color: rgba(74, 87, 100, 0.8);
  }

  .plyr__menu__container .plyr__control--back::after {
    border-right-color: rgba(74, 87, 100, 0.8);
  }

  .plyr--full-ui input[type='range'] {
    color: @main-color;
  }

  .plyr__tooltip {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: @secondary-color;
  }

  .plyr--audio .plyr__controls {
    background: #fff;
    color: @secondary-color;
  }

  .plyr--audio .plyr__control.plyr__tab-focus,
  .plyr--audio .plyr__control:hover,
  .plyr--audio .plyr__control[aria-expanded='true'] {
    background: @main-color;
    color: #fff;
  }

  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded='true'] {
    background: @main-color;
    color: #fff;
  }

  .plyr__control--overlaid {
    background: @play-large-bg;
    color: #fff;
  }

  .plyr__control--overlaid:focus,
  .plyr__control--overlaid:hover {
    background: @main-color;
  }
  .plyr--full-ui input[type='range'].plyr__tab-focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 5px @tab-focus-color;
    outline: 0;
  }
  .plyr--full-ui input[type='range'].plyr__tab-focus::-moz-range-track {
    box-shadow: 0 0 0 5px @tab-focus-color;
    outline: 0;
  }
  .plyr--full-ui input[type='range'].plyr__tab-focus::-ms-track {
    box-shadow: 0 0 0 5px @tab-focus-color;
    outline: 0;
  }
  .plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px @tab-focus-color;
    outline: 0;
  }
}
